$itau-orange: #F65E01;
$itau-blue: #003399;
$itau-yellow: #F9ED09;
$input-gray: #e5e4e4;
$error-msg: #cf000f;
%no-shadow {
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}